<div class="login-container" *ngIf="!this.authService.isLoggedIn()">
    <h2>Inicia Sesion</h2>
    <form id="loginForm" (submit)="login()">
        <div class="form-group">
            <label for="Usuario">Usuario</label>
            <input type="text" id="Usuario" name="Usuario" [(ngModel)]="credentials.Usuario" required>
        </div>
        <div class="form-group">
            <label for="Password">Password</label>
            <input type="Password" id="Password" name="Password" [(ngModel)]="credentials.Password" required>
        </div>
        <div class="form-group">
            <button type="submit">Login</button>
        </div>
    </form>
</div>
<div *ngIf="this.authService.isLoggedIn()">
    <h1>Ya estás logado</h1>
</div>
