
.mat-elevation-z8 {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

  /* Estilos adicionales para evitar conflicto con Angular Material */
.mat-raised-button {
  box-shadow: none; /* Elimina la sombra predeterminada */
}

  .formulario {
    width: 100%;
    max-width: 600px; /* Aumenta el ancho del formulario */
    padding: 20px;
    background-color: #ffffff; /* Fondo blanco */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra más pronunciada */
    margin: auto; /* Centrar el formulario horizontalmente */
  }

  /* Estilo para los campos de entrada */
  .mat-form-field {
    width: 100%; /* Hace que los campos ocupen todo el ancho */
    margin-bottom: 20px; /* Espacio entre campos */
  }

  .submit-button-container {
    margin-top: 20px; /* Espacio adicional antes del botón */
  }

  .formulario label {
    display: block;
    margin-bottom: 5px;
    color: #444444;
    font-size: 16px;
  }
  .formulario select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }



  .formulario input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }




 h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2;
  font-weight: bold;
  color: rgb(0, 0, 0);;

 }
 .container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.left-panel {
  flex: 1;
  padding: 10px;
  position: relative;
}

.right-panel {
  flex: 1;
  padding: 10px;
}

.sugerencias {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 100px;
  overflow-y: auto;
  border: 1px solid #ddd;
  background-color: #fff;
}

.sugerencias li {
  padding: 8px;
  cursor: pointer;
}

.sugerencias li:hover {
  background-color: #f0f0f0;
}
.boton-actualizar {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.boton-actualizar:hover {
  background-color: #0056b3;
}

.boton-actualizar:disabled {
  background-color: #d9d9d9;
  color: #666666;
  cursor: not-allowed;
}

.filter-container {
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
}

.filter-container label {
  color: black;
}



/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.tabla {
  position: relative;
}

/* Contenedor de Modal */
.modal-overlay {
  position: fixed; /* Fijo para cubrir toda la pantalla */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para destacar el modal */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Asegúrate de que el modal esté por encima de otros elementos */
}

/* Contenido del Modal */
.modal-content {
  background: white; /* O cualquier otro color o fondo */
  padding: 20px; /* Ajusta el relleno según sea necesario */
  border-radius: 8px; /* Opcional: para bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Opcional: para sombra alrededor del modal */
  max-width: 40%; /* Ajusta el ancho máximo según sea necesario */
  max-height: 40%; /* Ajusta la altura máxima según sea necesario */
  overflow: auto; /* Asegura que el contenido sea desplazable si excede el tamaño del modal */
}
.btn-completar {
  background-color: #5bc0de;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.label-negrita {
  color: black;
  font-weight: bold;
}

.mat-form-field {
  width: 100%; /* Los campos ocuparán el 100% del contenedor */
}

.custom-field-size {
  width: 50%; /* Ajusta este valor para cambiar el tamaño de los campos */
}

/* Estilos adicionales para evitar conflicto con Angular Material */
.mat-raised-button {
  box-shadow: none; /* Elimina la sombra predeterminada */
}

  /* Estilo para botones */
  .button-container {
    display: flex;
    justify-content: space-between; /* Espacio entre botones */
    margin-top: 20px; /* Margen superior para separación */
  }


.map-card {
  margin: 10px;
  height: auto;
  width: 100%;
}

.map-card mat-card-content {
  padding: 0;
  display: flex;
  height: 950px; /* Ajusta esta altura para hacerlo más largo */
  width: 100%;
}
.map-card mat-card-header {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
}
.map-card mat-card-title {
  color: rgb(0, 0, 0);
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
@media print {
  body {
      font-size: 10px; /* Tamaño de fuente para impresión */
  }
  .pdf-content {
      width: 100%; /* Ancho máximo para impresión */
      overflow-x: auto; /* Permitir el desplazamiento horizontal si es necesario */
  }
  .table-style {
      width: 100%; /* Ancho de la tabla para impresión */
  }
  .table-style th, .table-style td {
      border: 1px solid black; /* Añadir bordes a las celdas */
      padding: 5px; /* Espaciado interno reducido para impresión */
  }
  .filter-container {
      display: none; /* Ocultar el contenedor de filtros en la impresión */
  }
  .no-print {
      display: none !important; /* Asegúrate de que esta regla tenga !important */
  }
  button {
      display: none; /* Ocultar todos los botones durante la impresión */
  }
  .oculto {
    display: none;
  }

}
