<div class="container">
  <div class="left-panel">
    <div *ngIf="!mostrarFormulario" class="table-container">
<!-- Formulario para Chofer -->
<form *ngIf="isChofer()" [formGroup]="programarAcopioForm" (ngSubmit)="iniciarDia()" fxLayout="column" fxLayoutGap="20px">
  <input type="hidden" formControlName="chofer">

  <mat-form-field appearance="fill" class="full-width" style="margin-left: 10px; margin-right: 10px;">
    <mat-label>Camión</mat-label>
    <mat-select formControlName="camion">
      <mat-option *ngFor="let camion of camiones" [value]="camion.id_camion">{{ camion.Identificador }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width" style="margin-left: 10px; margin-right: 10px;">
    <mat-label>Fecha</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="fecha">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <div style="margin-left: 10px; margin-right: 10px;">
    <button mat-raised-button class="btn-crear" type="submit" [disabled]="!programarAcopioForm.valid">Iniciar día</button>
  </div>
</form>


<form *ngIf="isAdmin()" [formGroup]="programarAcopioForm" (ngSubmit)="iniciarDia()" fxLayout="column" fxLayoutGap="20px">

  <mat-form-field appearance="fill" class="full-width" style="margin-left: 10px; margin-right: 10px;">
    <mat-label>Chofer</mat-label>
    <mat-select formControlName="chofer">
      <mat-option *ngFor="let chofer of choferes" [value]="chofer.id_chofer">{{ chofer.Nombre }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="custom-field-size" style="margin-left: 10px; margin-right: 10px;">
    <mat-label>Camión</mat-label>
    <mat-select formControlName="camion">
      <mat-option *ngFor="let camion of camiones" [value]="camion.id_camion">{{ camion.Identificador }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width" style="margin-left: 10px; margin-right: 10px;">
    <mat-label>Fecha</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="fecha">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <div style="margin-left: 5px; margin-right: 5px;">
    <button mat-raised-button class="btn-crear" type="submit" [disabled]="!programarAcopioForm.valid">
      Iniciar día
    </button>
  </div>
</form>
 <br>

      <div class="filter-container">

          <mat-form-field appearance="fill">
            <mat-label>Fecha:</mat-label>
            <input matInput type="date" [(ngModel)]="filtroFecha" name="filtroFecha" [disabled]="isChofer()">
          </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Chofer:</mat-label>
          <mat-select [(ngModel)]="filtroChofer" name="filtroChofer" [disabled]="isChofer()">
            <mat-option value="">Seleccione un chofer</mat-option>
            <mat-option *ngFor="let chofer of choferes" [value]="chofer.id_chofer">{{ chofer.Nombre }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Estado:</mat-label>
          <mat-select [(ngModel)]="filtroEstado" name="filtroEstado">
            <mat-option value="">Seleccione un estado</mat-option>
            <mat-option value="0">Pendiente</mat-option>
            <mat-option value="1">Realizado</mat-option>
            <mat-option value="2">Anulado</mat-option>
          </mat-select>
        </mat-form-field>



        <br>
        <button mat-raised-button class="btn-filtro" (click)="aplicarFiltro()">Aplicar Filtro</button>
        <button mat-raised-button class="btn-filtro" (click)="quitarFiltro()">Quitar Filtro</button>
        <button mat-raised-button class="btn-filtro" (click)="downloadPDF()">  <mat-icon>picture_as_pdf</mat-icon></button>
        <button mat-raised-button class="btn-filtro" (click)="Imprimir()">  <mat-icon>print</mat-icon></button>
      </div>

      <div id="print-section" #printSection>
        <table mat-table [dataSource]="acopiosFiltrados" class="mat-elevation-z8 table-style">
            <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef> Fecha </th>
                <td mat-cell *matCellDef="let acopio"> {{ acopio.Fecha | date:'MM/dd/YY' }} </td>
            </ng-container>
            <ng-container matColumnDef="cliente">
                <th mat-header-cell *matHeaderCellDef> Cliente </th>
                <td mat-cell *matCellDef="let acopio"> {{ acopio.Cliente_Nombre }} </td>
            </ng-container>
            <ng-container matColumnDef="chofer">
                <th mat-header-cell *matHeaderCellDef> Chofer </th>
                <td mat-cell *matCellDef="let acopio"> {{ acopio.Chofer_Nombre }} </td>
            </ng-container>
            <ng-container matColumnDef="camion">
                <th mat-header-cell *matHeaderCellDef> Camión </th>
                <td mat-cell *matCellDef="let acopio"> {{ acopio.Camion_Identificador }} </td>
            </ng-container>
            <ng-container matColumnDef="cantidad">
                <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                <td mat-cell *matCellDef="let acopio"> {{ acopio.Cantidad }} </td>
            </ng-container>
            <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef> Estado </th>
                <td mat-cell *matCellDef="let acopio"> {{ acopio.EstadoTexto }} </td>
            </ng-container>
            <ng-container matColumnDef="codigoPostal">
                <th mat-header-cell *matHeaderCellDef> Código Postal </th>
                <td mat-cell *matCellDef="let acopio"> {{ acopio.codigo_postal }} </td>
            </ng-container>
            <ng-container matColumnDef="direccion">
                <th mat-header-cell *matHeaderCellDef> Dirección Acopio </th>
                <td mat-cell *matCellDef="let acopio"> {{ acopio.direccion }} </td>
            </ng-container>
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef class="no-print"> Acciones </th>
                <td mat-cell *matCellDef="let acopio" class="no-print">
                    <button  mat-icon-button class="btn-editar" *ngIf="isAdmin()" (click)="seleccionarAcopio(acopio)"><mat-icon>edit</mat-icon></button>
                    <button mat-icon-button class="btn-eliminar" *ngIf="isAdmin()" (click)="eliminarAcopio(acopio.id_acopio)"><mat-icon>delete</mat-icon></button>
                    <button  mat-icon-button class="btn-editar" (click)="mostrarFormularioCompletarAcopio(acopio)">  <mat-icon>done</mat-icon> </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="['fecha', 'cliente', 'chofer', 'camion', 'cantidad', 'estado', 'codigoPostal', 'direccion', 'acciones']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['fecha', 'cliente', 'chofer', 'camion', 'cantidad', 'estado', 'codigoPostal', 'direccion', 'acciones'];"></tr>
        </table>
    </div>
      <iframe id="pdf-viewer" width="100%" height="600px"></iframe>
    </div>

    <div *ngIf="mostrarFormulario" class="formulario-container">
      <h2>{{ modoEdicion ? 'Editar Acopio' : 'Crear Acopio' }}</h2>
      <form class="formulario" (ngSubmit)="modoEdicion ? actualizarAcopio() : crearAcopio()">
        <mat-form-field appearance="fill">
          <mat-label>Fecha:</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="nuevoAcopio.fecha" name="Fecha">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Cliente:</mat-label>
          <mat-select id="id_cliente" [(ngModel)]="nuevoAcopio.id_cliente" name="id_cliente" required>
            <mat-option *ngFor="let cliente of clientes" [value]="cliente.id_cliente">{{ cliente.Nombre }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Chofer:</mat-label>
          <mat-select id="id_chofer" [(ngModel)]="nuevoAcopio.id_chofer" name="id_chofer" required>
            <mat-option *ngFor="let chofer of choferes" [value]="chofer.id_chofer">{{ chofer.Nombre }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Camión:</mat-label>
          <mat-select id="id_camion" [(ngModel)]="nuevoAcopio.id_camion" name="id_camion" required>
            <mat-option *ngFor="let camion of camiones" [value]="camion.id_camion">{{ camion.Identificador }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Cantidad:</mat-label>
          <input matInput type="number" [(ngModel)]="nuevoAcopio.Cantidad" name="Cantidad" required>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Código Postal</mat-label>
          <input matInput type="text" id="codigo_postal" [(ngModel)]="nuevoAcopio.codigo_postal" name="codigo_postal" (input)="obtenerSugerenciasCodigoPostal($event)" required autocomplete="off">
          <mat-list *ngIf="codigosPostales.length > 0">
            <mat-list-item *ngFor="let codigo of codigosPostales" (click)="seleccionarCodigoPostal(codigo)">
              {{ codigo }}
            </mat-list-item>
          </mat-list>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Dirección:</mat-label>
          <input matInput type="text" [(ngModel)]="nuevoAcopio.direccion" name="direccion" required>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">{{ modoEdicion ? 'Actualizar' : 'Crear' }}</button>
        <button mat-raised-button color="warn" (click)="toggleFormulario()"><mat-icon>cancel</mat-icon></button>
      </form>
    </div>
  </div>

  <div class="right-panel" [ngClass]="{ 'oculto': mostrarFormularioReasignar }">
    <mat-card class="map-card">
      <mat-card-header>
        <mat-card-title>Mapa de Acopios</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div id="map"></div>
      </mat-card-content>
    </mat-card>
  </div>



  <div *ngIf="acopiosFiltrados.length === 0" class="mensaje-error">
    No se encontraron acopios en la fecha seleccionada.
  </div>

  <div class="modal-overlay" *ngIf="mostrarFormularioCompletar">
    <div class="modal-content">
      <h2>Completar Acopio</h2>
      <form [formGroup]="completarAcopioForm" (ngSubmit)="completarAcopio()">
        <mat-form-field appearance="fill">
          <mat-label>Monto a Pagar:</mat-label>
          <input matInput formControlName="monto_pagar" type="number" required />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Cantidad:</mat-label>
          <input matInput formControlName="cantidad" type="number" required />
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="completarAcopioForm.invalid">Completar</button>
        <button mat-raised-button color="warn" type="button" (click)="cerrarModal()">  <mat-icon>cancel</mat-icon></button>
      </form>
    </div>
  </div>
