<div class="usuario-container">
  <h2>Información del Usuario</h2>
  <p>En esta página podrás gestionar los usuarios.</p>
  
  <button mat-raised-button (click)="mostrarFormularioCrear()" class="btn-crear">Crear Nuevo Usuario</button>
  <br>
  <!-- Mostrar la tabla solo si no se está creando ni editando -->
  <div *ngIf="!mostrarCrearUsuario && !mostrarEditarUsuario">
    <table>
      <thead>
        <tr>
          <th>Usuario</th>
          <th>Rol</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios">
          <td>{{ usuario.Usuario }}</td>
          <td>{{ usuario.Rol }}</td>
          <td>
            <button mat-raised-button class="btn-editar" (click)="usuarioSeleccionado = usuario.id_Usuario; cargarDatosUsuario(); mostrarFormularioEditar()">Editar</button>
            <button mat-raised-button class="btn-eliminar" (click)="eliminarUsuario(usuario.id_Usuario)">Eliminar</button>

          </td>
        </tr>
      </tbody>
    </table>
  </div>

<!-- Formulario para crear un nuevo usuario -->
<form *ngIf="mostrarCrearUsuario" (ngSubmit)="crearUsuario()" class="usuario-form" #userForm="ngForm">
  <div class="form-group">
      <label for="usuario">Nombre de Usuario:</label>
      <input id="usuario" [(ngModel)]="nuevoUsuario.Usuario" name="usuario" class="form-control" required>
  </div>
  
  <div class="form-group">
      <label for="password">Contraseña:</label>
      <div class="password-wrapper">
          <input id="password" [(ngModel)]="nuevoUsuario.Password" name="password" [type]="mostrarPassword ? 'text' : 'password'" class="form-control" required>
          <i class="fa" [ngClass]="mostrarPassword ? 'fa-eye-slash' : 'fa-eye'" (click)="toggleMostrarPassword()"></i>
      </div>
  </div>
  
  <div class="form-group">
      <label for="confirmPassword">Confirmar Contraseña:</label>
      <div class="password-wrapper">
          <input id="confirmPassword" [(ngModel)]="confirmarPassword" name="confirmPassword" [type]="mostrarPassword ? 'text' : 'password'" class="form-control" required>
          <i class="fa" [ngClass]="mostrarPassword ? 'fa-eye-slash' : 'fa-eye'" (click)="toggleMostrarPassword()"></i>
      </div>
  </div>
  
  <div class="form-group">
      <label for="rol">Rol:</label>
      <select id="rol" [(ngModel)]="nuevoUsuario.Rol" name="rol" class="form-control" (change)="onRolChange()">
          <option value="Admin">Admin</option>
          <option value="Chofer">Chofer</option>
      </select>
  </div>

  <div class="form-group" *ngIf="nuevoUsuario.Rol === 'Chofer'">
      <label for="chofer">Chofer:</label>
      <select id="chofer" [(ngModel)]="nuevoUsuario.id_chofer" name="chofer" class="form-control">
          <option *ngFor="let chofer of choferes" [value]="chofer.id_chofer">{{ chofer.Nombre }}</option>
          <option [value]="null">Ninguno</option>
      </select>
  </div>
  
  <button type="submit" mat-raised-button class="btn-actualizar" [disabled]="!userForm.valid || nuevoUsuario.Password !== confirmarPassword">Crear Usuario</button>
  <button type="button" mat-raised-button (click)="cancelar()" class="btn-cancelar">Cancelar</button>
</form>

  <!-- Formulario para editar un usuario -->
  <form *ngIf="mostrarEditarUsuario" (ngSubmit)="editarUsuario()" class="usuario-form" #editForm="ngForm">
    <div class="form-group">
      <label for="usuarioSeleccionado">Seleccionar Usuario:</label>
      <select id="usuarioSeleccionado" [(ngModel)]="usuarioSeleccionado" name="usuarioSeleccionado" class="form-control" (change)="cargarDatosUsuario()">
        <option *ngFor="let usuario of usuarios" [value]="usuario.id_Usuario">{{ usuario.Usuario }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="usuarioEditar">Nombre de Usuario:</label>
      <input id="usuarioEditar" [(ngModel)]="usuarioEditar.Usuario" name="usuarioEditar" class="form-control" required>
    </div>
    
    <div class="form-group">
      <label for="passwordEditar">Contraseña:</label>
      <div class="password-wrapper">
        <input id="passwordEditar" [(ngModel)]="usuarioEditar.Password" name="passwordEditar" [type]="mostrarPassword ? 'text' : 'password'" class="form-control" required>
        <i class="fa" [ngClass]="mostrarPassword ? 'fa-eye-slash' : 'fa-eye'" (click)="toggleMostrarPassword()"></i>
      </div>
    </div>
    
    <div class="form-group">
      <label for="confirmPasswordEditar">Confirmar Contraseña:</label>
      <div class="password-wrapper">
        <input id="confirmPasswordEditar" [(ngModel)]="confirmarPasswordEditar" name="confirmPasswordEditar" [type]="mostrarPassword ? 'text' : 'password'" class="form-control" required>
        <i class="fa" [ngClass]="mostrarPassword ? 'fa-eye-slash' : 'fa-eye'" (click)="toggleMostrarPassword()"></i>
      </div>
    </div>
    
    <div class="form-group">
      <label for="choferEditar">Chofer:</label>
      <select id="choferEditar" [(ngModel)]="usuarioEditar.id_chofer" name="choferEditar" class="form-control">
        <option *ngFor="let chofer of choferes" [value]="chofer.id_chofer">{{ chofer.Nombre }}</option>
        <option [value]="null">Ninguno</option>
      </select>
    </div>
    
    <button type="submit" mat-raised-button class="btn-actualizar" [disabled]="!editForm.valid || usuarioEditar.Password !== confirmarPasswordEditar">Actualizar Usuario</button>
    <button type="button" mat-raised-button (click)="cancelarEdicion()"  class="btn-cancelar">Cancelar</button>
  </form>
</div>
