<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<nav>
    <ul>
        <button *ngIf="!isLoggedIn()" class="nav-button" (click)="navigateToLogin()">Iniciar Sesión</button>
        <button *ngIf="isLoggedIn()" class="nav-button" (click)="navigateToUsuario()">{{ getUsername() }}</button>
        <button class="cliente-button" (click)="navigateToClientes()">Cliente</button>
        <button class="chofer-button" (click)="navigateToChofer()">Chofer</button>
        <button class="camion-button"(click)="navigateToCamion()">Camiones</button>
        <button class="acopio-button"(click)="navigateToAcopio()">Acopio</button>
        <button class="home-button" (click)="navigateToHome()">
            <i class="material-icons">home</i>
        </button>
        <button class="logout-button" *ngIf="isLoggedIn()" (click)="logout()">Cerrar Sesión</button>
    </ul>
</nav>

<router-outlet></router-outlet>
<h1 *ngIf="isAppRoute">Bienvenido a la Pagina Inicial</h1>
