<div *ngIf="!mostrarFormulario">
  <button mat-raised-button color="primary" class="btn-crear" (click)="toggleFormulario()">
    Crear Camión
  </button>

  <table mat-table [dataSource]="camiones" class="mat-elevation-z8">

    <!-- Identificador Column -->
    <ng-container matColumnDef="Identificador">
      <th mat-header-cell *matHeaderCellDef> IDENTIFICADOR </th>
      <td mat-cell *matCellDef="let camion"> {{ camion.Identificador }} </td>
    </ng-container>

    <!-- Matrícula Column -->
    <ng-container matColumnDef="Matricula">
      <th mat-header-cell *matHeaderCellDef> MATRÍCULA </th>
      <td mat-cell *matCellDef="let camion"> {{ camion.Matricula }} </td>
    </ng-container>

    <!-- Marca Column -->
    <ng-container matColumnDef="Marca">
      <th mat-header-cell *matHeaderCellDef> MARCA </th>
      <td mat-cell *matCellDef="let camion"> {{ camion.Marca }} </td>
    </ng-container>

    <!-- Modelo Column -->
    <ng-container matColumnDef="Modelo">
      <th mat-header-cell *matHeaderCellDef> MODELO </th>
      <td mat-cell *matCellDef="let camion"> {{ camion.Modelo }} </td>
    </ng-container>

    <!-- Acciones Column -->
    <ng-container matColumnDef="Acciones">
      <th mat-header-cell *matHeaderCellDef> ACCIONES </th>
      <td mat-cell *matCellDef="let camion">
        <button  mat-icon-button class="btn-editar"  (click)="seleccionarCamion(camion)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button class="btn-eliminar" (click)="eliminarCamion(camion.id_camion)">
          <mat-icon>delete</mat-icon>

        </button>
      </td>
    </ng-container>

    <!-- Header and Row Declarations -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>

<div *ngIf="mostrarFormulario" class="formulario-container">
  <form class="formulario" (submit)="modoEdicion ? actualizarCamion() : crearCamion()">
    <mat-form-field  appearance="outline" class="full-width">
      <mat-label>Identificador</mat-label>
      <input matInput type="text" id="identificador" name="identificador" [(ngModel)]="nuevoCamion.Identificador" required>
    </mat-form-field>

    <mat-form-field  appearance="outline" class="full-width">
      <mat-label>Matrícula</mat-label>
      <input matInput type="text" id="matricula" name="matricula" [(ngModel)]="nuevoCamion.Matricula" required>
    </mat-form-field>

    <mat-form-field  appearance="outline" class="full-width">
      <mat-label>Marca</mat-label>
      <input matInput type="text" id="marca" name="marca" [(ngModel)]="nuevoCamion.Marca" required>
    </mat-form-field>

    <mat-form-field  appearance="outline" class="full-width">
      <mat-label>Modelo</mat-label>
      <input matInput type="text" id="modelo" name="modelo" [(ngModel)]="nuevoCamion.Modelo" required>
    </mat-form-field>

    <div class="botones-formulario">
      <button mat-raised-button color="primary" type="submit" class="btn-actualizar">
        {{ modoEdicion ? 'Actualizar Camión' : 'Crear Camión' }}
      </button>
      <button mat-raised-button class="btn-cancelar" type="button" class="btn-cancelar" (click)="cerrarFormulario()">
        Cerrar
      </button>
    </div>
  </form>
</div>
