
  /* Estilos globales */
body.dark-mode {
    background-color: #2d2d2d; /* Fondo gris oscuro similar a ChatGPT */
    color: #d1d1d1; /* Texto gris claro */
  }
  
  body.dark-mode .sidebar {
    background-color: #1e1e1e; /* Fondo más oscuro para el sidebar */
  }
  
  body.dark-mode a.nav-link {
    color: #d1d1d1; /* Enlaces gris claro */
  }
  
  body.dark-mode a.nav-link:hover {
    color: #ffffff; /* Blanco al pasar el mouse */
  }
  
  body.dark-mode .content-wrapper {
    background-color: #2d2d2d; /* Igualar el fondo del cuerpo */
    color: #d1d1d1; /* Texto gris claro */
  }
  
  body.dark-mode .main-footer {
    background-color: #1e1e1e; /* Igualar el fondo del sidebar */
    color: #d1d1d1; /* Texto gris claro */
  }
  
  body.dark-mode .btn {
    background-color: #444444; /* Fondo gris oscuro para botones */
    color: #d1d1d1; /* Texto gris claro */
    border-color: #444444; /* Igualar el borde del botón con el fondo */
  }
  
  body.dark-mode .btn:hover {
    background-color: #555555; /* Un poco más claro al pasar el mouse */
    border-color: #555555; /* Igualar el borde al pasar el mouse */
  }
  /* Estilos para el sidebar */
  .sidebar {
    background-color: #333; /* Color de fondo para el sidebar en modo claro */
    color: white; /* Color del texto en el sidebar */
  }
  
  .sidebar .nav-item {
    margin-bottom: 10px; /* Espaciado entre elementos de navegación */
  }
  
  .sidebar .nav-link {
    padding: 10px; /* Ajuste de relleno para los botones de navegación */
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import '~@fortawesome/fontawesome-free/css/all.min.css';
