
  /* Estilos globales */
body.dark-mode {
    background-color: #2d2d2d; /* Fondo gris oscuro similar a ChatGPT */
    color: #d1d1d1; /* Texto gris claro */
  }

  body.dark-mode .sidebar {
    background-color: #1e1e1e; /* Fondo más oscuro para el sidebar */
  }

  body.dark-mode a.nav-link {
    color: #d1d1d1; /* Enlaces gris claro */
  }

  body.dark-mode a.nav-link:hover {
    color: #ffffff; /* Blanco al pasar el mouse */
  }

  body.dark-mode .content-wrapper {
    background-color: #2d2d2d; /* Igualar el fondo del cuerpo */
    color: #d1d1d1; /* Texto gris claro */
  }

  body.dark-mode .main-footer {
    background-color: #1e1e1e; /* Igualar el fondo del sidebar */
    color: #d1d1d1; /* Texto gris claro */
  }

  body.dark-mode .btn {
    background-color: #444444; /* Fondo gris oscuro para botones */
    color: #d1d1d1; /* Texto gris claro */
    border-color: #444444; /* Igualar el borde del botón con el fondo */
  }

  body.dark-mode .btn:hover {
    background-color: #555555; /* Un poco más claro al pasar el mouse */
    border-color: #555555; /* Igualar el borde al pasar el mouse */
  }
  /* Estilos para el sidebar */
  .sidebar {
    background-color: #333; /* Color de fondo para el sidebar en modo claro */
    color: white; /* Color del texto en el sidebar */
  }

  .sidebar .nav-item {
    margin-bottom: 10px; /* Espaciado entre elementos de navegación */
  }

  .sidebar .nav-link {
    padding: 10px; /* Ajuste de relleno para los botones de navegación */
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import '~@fortawesome/fontawesome-free/css/all.min.css';
/* Estilos para botones generales en modo claro */
.btn-editar {
  background-color: #ffffff; /* Botón de editar blanco */
  color: #007bff; /* Texto azul */
  border: 1px solid #007bff; /* Borde azul */
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.btn-editar:hover {
  background-color: #007bff; /* Fondo azul al pasar el mouse */
  color: #ffffff; /* Texto blanco al pasar el mouse */
}

.btn-eliminar {
  background-color: #ffffff; /* Botón de eliminar blanco */
  color: #dc3545; /* Texto rojo */
  border: 1px solid #dc3545; /* Borde rojo */
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.btn-eliminar:hover {
  background-color: #dc3545; /* Fondo rojo al pasar el mouse */
  color: #ffffff; /* Texto blanco al pasar el mouse */
}

.btn-crear {
  background-color: #ffffff; /* Botón de crear blanco */
  color: #007bff; /* Texto azul */
  border: 1px solid #007bff; /* Borde azul */
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s, color 0.3s;
}

.btn-crear:hover {
  background-color: #007bff; /* Fondo celeste al pasar el mouse */
  color: #ffffff; /* Texto blanco al pasar el mouse */
}

.btn-filtro {
  background-color: #ffffff; /* Botón de crear blanco */
  color: #009dff; /* Texto azul */
  border: 1px solid #ffffff; /* Borde azul */
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s, color 0.3s;
}

.btn-filtro:hover {
  background-color: #009dff; /* Fondo celeste al pasar el mouse */
  color: #ffffff; /* Texto blanco al pasar el mouse */
}

/* Versión para modo oscuro */
body.dark-mode .btn-editar {
  background-color: #ffffff; /* Botón de editar blanco */
  color: #0056b3; /* Texto azul oscuro */
  border: 1px solid #0056b3; /* Borde azul oscuro */
}

body.dark-mode .btn-editar:hover {
  background-color: #0056b3; /* Fondo azul oscuro al pasar el mouse */
  color: #ffffff; /* Texto blanco al pasar el mouse */
}

body.dark-mode .btn-eliminar {
  background-color: #ffffff; /* Botón de eliminar blanco */
  color: #c82333; /* Texto rojo oscuro */
  border: 1px solid #c82333; /* Borde rojo oscuro */
}

body.dark-mode .btn-eliminar:hover {
  background-color: #c82333; /* Fondo rojo oscuro al pasar el mouse */
  color: #ffffff; /* Texto blanco al pasar el mouse */
}
body.dark-mode .btn-crear {
  background-color: #ffffff; /* Botón de crear blanco */
  color: #0056b3; /* Texto azul oscuro */
  border: 1px solid #0056b3; /* Borde azul oscuro */
}

body.dark-mode .btn-crear:hover {
  background-color: #0056b3; /* Fondo celeste oscuro al pasar el mouse */
  color: #ffffff; /* Texto blanco al pasar el mouse */
}
body.dark-mode  .btn-filtro {
  background-color: #ffffff; /* Botón de crear blanco */
  color: #009dff; /* Texto azul */
  border: 1px solid #007bff; /* Borde azul */
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s, color 0.3s;
}
body.dark-mode .btn-filtro:hover {
  background-color: #009dff; /* Fondo celeste al pasar el mouse */
  color: #ffffff; /* Texto blanco al pasar el mouse */
}


/* Estilos para las tablas sin bordes */
table {
  color: black;
  background-color: white;
  border-collapse: collapse;
  width: 100%; /* Hacer la tabla ancha */
}

table th, table td {
  text-align: center;
  padding: 8px;
  border: none; /* Eliminar los bordes */
}

table th {
  background-color: #f2f2f2; /* Fondo gris claro para el encabezado */
}

table tr:hover {
  background-color: #e0e0e0; /* Fondo gris claro al pasar el mouse */
}
@import "~leaflet/dist/leaflet.css";
