table {
    color: black;
    background-color: white;
    border-collapse: collapse;
  }
  
  table th, table td {
    text-align: center;
    border: 1px solid black;
    padding: 8px;
  }
  button {
    background-color: #589035;
    border: none; 
    color: white; 
    padding: 15px 32px; 
    text-align: center;
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 8px; 
    transition: background-color 0.3s ease; 
  }
  
  button:hover {
    background-color: #437226; 
  }
  .btn-editar {
    background-color: #5bc0de; 
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-editar:hover {
    background-color: #31b0d5; 
  }
  
  .btn-eliminar {
    background-color: #d9534f;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-eliminar:hover {
    background-color: #c9302c;
  }
  .formulario-container {
    background-color: #ffffff; /* Fondo blanco */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); /* Sombra suave */
    width: 400px; /* Ancho del formulario */
    margin: 0 auto; /* Centrar horizontalmente */
  }
  
  .formulario {
    text-align: center;
  }
  
  .formulario label {
    display: block;
    margin-bottom: 5px;
    color: #444444; /* Color de texto oscuro */
  }
  
  .formulario input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .btn-actualizar {
    background-color: #007bff; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease; 
  }
  
  .btn-actualizar:hover {
    background-color: #0056b3; 
  }
  
  .btn-cancelar {
    background-color: #dc3545; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }
  
  .btn-cancelar:hover {
    background-color: #c9302c; 
  }
  