<div *ngIf="!mostrarFormulario">
  <div>
  <button *ngIf="isAdmin()" (click)="toggleFormulario()">Crear Cliente</button>
  <table>
    <thead>
      <tr>
        <th>CLIENTE</th>
        <th>DNI</th>
        <th>TELEFONO</th>
        <th>CODIGO POSTAL</th>
        <th>REGION</th>
        <th>DIRECCION</th>
        <th>NOMBRE DE CONTACTO</th>
        <th>TELEFONO CONTACTO</th>
        <th>FECHA DE LA ULTIMA VISITA</th>
        <th>INTERVALO VISTAS</th>
        <th>ESTADO</th>
        <th>CHOFER</th>
        <th>CAMIÓN</th>
        <th *ngIf="isAdmin()">ACCIONES</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">
        <td>{{ cliente.Nombre }}</td>
        <td>{{ cliente.Dni }}</td>
        <td>{{ cliente.Telefono }}</td>
        <td>{{cliente.Codigo_postal}}</td>
        <td>{{ cliente.Region }}</td>
        <td>{{ cliente.Direccion }}</td>
        <td>{{ cliente.Nombre_contacto }}</td>
        <td>{{ cliente.Telefono_contacto }}</td>
        <td>{{ cliente.Fecha_ultima_visita | date:'MM/dd/yy' }}</td>
        <td>{{ cliente.Intervalo_de_visita }}</td>
        <td>{{ cliente.Estado }}</td>
        <td>{{ obtenerNombreChofer(cliente.id_chofer) }}</td>
        <td>{{ obtenerIdentificadorCamion(cliente.id_camion) }}</td>
        <td *ngIf="isAdmin()">
          <button (click)="seleccionarCliente(cliente)" class="btn-editar">Editar</button>
          <button (click)="eliminarCliente(cliente.id_cliente)" class="btn-eliminar">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
<div *ngIf="mostrarFormulario" class="formulario-container">
  <div class="left-panel">
    <form class="formulario" (submit)="modoEdicion ? actualizarCliente() : crearCliente()">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" [(ngModel)]="nuevoCliente.Email" required>
      
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" [(ngModel)]="nuevoCliente.Nombre" required>
      
      <label for="dni">DNI:</label>
      <input type="text" id="dni" name="dni" [(ngModel)]="nuevoCliente.Dni" required>
      
      <label for="telefono">Teléfono:</label>
      <input type="tel" id="telefono" name="telefono" [(ngModel)]="nuevoCliente.Telefono" required>
      
      <label for="Codigo_postal">Código Postal:</label>
      <input type="text" id="codigo_postal" [(ngModel)]="nuevoCliente.Codigo_postal" name="codigo_postal" (input)="obtenerSugerenciasCodigoPostal($event)" required>
      <ul *ngIf="codigosPostales.length > 0" class="sugerencias">
        <li *ngFor="let codigo of codigosPostales" (click)="seleccionarCodigoPostal(codigo)">{{ codigo }}</li>
      </ul>
      
      <label for="region">Región:</label>
      <input type="text" id="region" name="region" [(ngModel)]="nuevoCliente.Region" required>
      
      <label for="direccion">Dirección:</label>
      <input type="text" id="direccion" [(ngModel)]="nuevoCliente.Direccion" name="direccion" (blur)="actualizarPin()" required>
      
      <label for="nombreContacto">Nombre de Contacto:</label>
      <input type="text" id="nombreContacto" name="nombreContacto" [(ngModel)]="nuevoCliente.Nombre_contacto" required>
      
      <label for="telefonoContacto">Teléfono de Contacto:</label>
      <input type="tel" id="telefonoContacto" name="telefonoContacto" [(ngModel)]="nuevoCliente.Telefono_contacto" required>
      
      <label for="fechaUltimaVisita">Fecha de Última Visita:</label>
      <input type="date" id="fechaUltimaVisita" name="fechaUltimaVisita" [(ngModel)]="nuevoCliente.Fecha_ultima_visita" required>
      
      <label for="intervaloVisitas">Intervalo de Visitas:</label>
      <input type="number" id="intervaloVisitas" name="intervaloVisitas" [(ngModel)]="nuevoCliente.Intervalo_de_visita" required>
      
      <label for="latitud">Latitud:</label>
      <input type="number" id="latitud" name="latitud" [(ngModel)]="nuevoCliente.Latitud" required>
      
      <label for="longitud">Longitud:</label>
      <input type="number" id="longitud" name="longitud" [(ngModel)]="nuevoCliente.Longitud" required>
      
      <label for="id_chofer">Chofer:</label>
      <select id="id_chofer" [(ngModel)]="nuevoCliente.id_chofer" name="id_chofer" required>
        <option *ngFor="let chofer of choferes" [value]="chofer.id_chofer">{{ chofer.Nombre }}</option>
      </select>
      
      <label for="id_camion">Camión:</label>
      <select id="id_camion" [(ngModel)]="nuevoCliente.id_camion" name="id_camion" required>
        <option *ngFor="let camion of camiones" [value]="camion.id_camion">{{ camion.Identificador }}</option>
      </select>
      
      <label for="estado">Estado:</label>
      <input type="number" id="estado" name="estado" [(ngModel)]="nuevoCliente.Estado" required>
      
      <button type="submit" class="btn-actualizar">{{ modoEdicion ? 'Actualizar Cliente' : 'Crear Cliente' }}</button>
      <button type="button" (click)="cerrarFormulario()" class="btn-cancelar">Cancelar</button>
    </form>
  </div>
  <div class="right-panel">
    <div id="map" style="height: 500px; width: 100%;"></div>
  </div>
</div>
