table {
  width: 100%;
  border-collapse: collapse;
}

th.mat-header-cell {
  background-color: #f5f5f5;
  font-weight: bold;
  position: sticky;
  top: 0;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

td, th {
  padding: 12px 20px;
}

.mat-elevation-z8 {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.btn-crear {
  color: white;
  padding: 8px 16px; /* Espaciado interno */
  border-radius: 4px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
  width: 50%; /* Ancho del botón */
  transition: background-color 0.3s ease; /* Transición suave */
  display: inline-flex; /* Para centrar el texto */
  justify-content: center; /* Centra horizontalmente el texto */
  align-items: center; /* Centra verticalmente el texto */
  margin-bottom: 16px; /* Espacio entre el botón y la tabla */
}



/* Estilos adicionales para evitar conflicto con Angular Material */
.mat-raised-button {
  box-shadow: none; /* Elimina la sombra predeterminada */
}


  .btn-editar {
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
 
  .btn-eliminar {
    background-color: #ff0800;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }

  .formulario {
    width: 100%;
    max-width: 600px; /* Aumenta el ancho del formulario */
    padding: 20px;
    background-color: #ffffff; /* Fondo blanco */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra más pronunciada */
    margin: auto; /* Centrar el formulario horizontalmente */
  }
  
  /* Estilo para los campos de entrada */
  .mat-form-field {
    width: 100%; /* Hace que los campos ocupen todo el ancho */
    margin-bottom: 20px; /* Espacio entre campos */
  }
  
  /* Estilo para botones */
  .button-container {
    display: flex;
    justify-content: space-between; /* Espacio entre botones */
    margin-top: 20px; /* Margen superior para separación */
  }
  
  .btn-actualizar {
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  

  .btn-cancelar {
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  

