.formulario-container {
  background-color: #ffffff; /* Fondo blanco */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra suave */
  max-width: 600px; /* Ancho máximo del formulario */
  margin: 0 auto; /* Centrar horizontalmente */
}

.formulario {
  display: flex;
  flex-direction: column; /* Asegura que los elementos estén en una columna */
  gap: 20px; /* Añade espacio entre los campos */
}

.mat-form-field {
  width: 100%; /* Hace que los campos ocupen todo el ancho */
}

/* Elimina la sombra predeterminada de los botones de Angular Material */
.mat-raised-button {
  box-shadow: none;
}

.button-container {
  display: flex;
  justify-content: space-between; /* Espacia los botones horizontalmente */
  gap: 10px;
}
